* {
    padding: 0;
    margin: 0;
}

.title {
    /*  */
    display: flex;
    align-items: center;
    justify-content: center;
    /*  */
    width: auto;
    padding: 20px;
    /*  */
    font-size: clamp(40px, 3vw, 50px);
    font-weight: normal;
    /*  */
    background-color: #f2e9e4;
    /*  */
    border-style: solid;
    border-radius: 2px;
    border-radius: 10px;
}